.sreen{
     background: url('../../assets/img/screen/bg.png') no-repeat;
     background-size: 100% 100%; min-height: 1080px; min-width: 1920px; overflow: hidden;}
.sreen1{
      background: url('../../assets/img/screen/bg.jpg') no-repeat!important;
      background-size: 100% 100%; min-height: 1080px; min-width: 1920px; overflow: hidden;}
 
.cont{
   background: url('../../assets/img/screen/contbg.png') no-repeat;
   background-size: 100% 100%; min-height: 1080px; min-width: 1920px; overflow: hidden;}
.sreen .mt-10{margin-top: 10px;}
.sreen .mt-15{margin-top: 15px;}
.sreen .mt-20{margin-top: 20px;}
.sreen .mt-30{margin-top: 30px;}
.sreen .mt-40{margin-top: 40px;}
.sreen .mt-60{margin-top: 13%;}
.sreen .mb-16{margin-bottom: 16px;}
.sreen .mb-25{margin-bottom: 25px;}
.sreen .ml-40{margin-left: 40px;}
.sreen .ml-20{margin-left: 20px;}
.sreen .ml-5{margin-left: 5px;}
.sreen .mr-5{margin-right: 5px;}
.sreen .mr-10{margin-right: 10px;}
.sreen .mr-20{margin-right: 20px;}
.sreen .mr-25{margin-right: 25px;}
.sreen .pl-20{padding-left: 20px;}
.sreen .pr-20{padding-left: 20px;}
.sreen .pt-10{padding-top: 10px;color:#798088}
.sreen .clear{clear: both;}
.sreen .w-20{width: 20%;}
.sreen .w-25{width: 25%;}
.sreen .w-23{width: 23%;}
.sreen .w-30{width: 30%;}
.sreen .w-50{width: 50%;}
.sreen .w-40{width: 40%; margin: 10px 8%;}
.sreen .w-55{width: 49%; margin: 0 20px;}
.sreen .f-30{font-size: 30px;font-weight: bold;}
.sreen .f-14{font-size: 14px;}
.sreen .f-15{font-size: 15px;}
.sreen .f-20{font-size: 20px;}
.sreen .f-12{font-size: 12px;}
.sreen .f-24{font-size: 24px;}
.sreen .color{ color: #666666;}
.sreen .border{border-bottom: 1px solid #1F3547;}
.sreen .border-r{border-right: 1px solid #1F3547;}
.sreen .top{height: 100px;padding: 30px 50px 10px 50px;}
.sreen .left{text-align: left;}
.sreen .center{text-align: center;}
.sreen .right{text-align: right;}
.sreen .time{padding-left: 76px;font-size: 16px; color:#3578E1;font-weight: bold;}
.sreen .fleft{float: left;}
.sreen .fright{float: right;}
.sreen .sfont{font-family: DS-DIGIB;}
.sreen .topr{line-height: 44px; padding: 0px 10px; font-size: 20px; color:#ffffff; background: #1A3E5A;}
.sreen .main{color:#ffffff; padding: 10px 70px;}
.sreen .l-1{line-height: 25px; margin-left: 20px; font-size: 14px;color: #878B90;}
.sreen .l-1-1{cursor: pointer;}
.sreen .l-1-1:hover{color:#3478E4}
.sreen .c-3t{line-height: 45px; font-size: 18px;}
.sreen .fg{text-shadow: 3px 5px 19px #346BF1;}
.sreen .r-1{color: #2961BA; font-weight: bold;font-size: 16px;}
.sreen .r-2{color: #5CBEFF;font-weight: bold;font-size: 60px;}
.sreen .c-title{font-size: 12px;color: #cccccc;}
.sreen .gettop_head_img{height: 140px;width: 140px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.sreen .lable{background: #0F2744; color: #ffffff;padding:5px 4px; margin-right: 5px;}
.sreen .contc{border-left: 1px solid #1F3547;border-right: 1px solid #1F3547; min-height: 500px;padding: 0px 20px;}
.sreen .contc .title{color: #327AE4; background: url('../../assets/img/screen/cline.png') no-repeat; height: 30px; background-size: 100% 100%; padding-left: 15px;font-size: 18px;}

.sreen  .ctitle{color: #327AE4; padding-left: 15px;font-size: 18px;}
.sreen .contc .xhs{font-size: 11px;text-align: center;padding:0 15px;}
.sreen .contc .listl{ height: 36x;line-height: 36px; cursor: pointer;background: url('../../assets/img/screen/sz-1.png') no-repeat left;color: #EFF0F2; font-size: 15px;}
.sreen .contc .listl:hover{ height: 36px;line-height: 36px; cursor: pointer;background: url('../../assets/img/screen/sz-0.png') no-repeat left; color: #ffffff;}

.sreen .overf{ max-width: 360px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sreen .contc .state{background: #3477E0; padding: 3px 5px;border-radius: 3px;}
.sreen .contc .state1{background: #E35329; padding: 5px 5px;border-radius: 3px;}
.sreen .zk{background: #0E2643; color: #3067C1;padding: 5px 5px; font-size: 12px;border-radius: 3px;cursor: pointer;}
.sreen .zk:hover{background: #3879DF; color: #eeeeee; }
.sreen .info{background: #0B1C39;color: #428AEB;padding-left: 20px; font-size: 14px;}
.sreen .contc1{padding-right: 50px; text-align: center;}
.sreen .contc1 .listl{ height: 36px;line-height: 36px; cursor: pointer;background: url('../../assets/img/screen/sz-1.png') no-repeat left;color: #EFF0F2; font-size: 15px;}
.sreen .contc1 .listl:hover{ height: 36px;line-height: 36px; cursor: pointer;background: url('../../assets/img/screen/sz-0.png') no-repeat left; color: #ffffff;}
.sreen .contc1 .xhs{font-size: 11px;text-align: center;padding:0 15px;}
.sreen .contc1 .title{background: #102751; color: #4990F8; line-height: 25px; font-size: 14px;}
.datapic .el-progress .el-progress-circle  svg path:first-child{stroke:none;}
.datapic .el-progress .el-progress-circle .el-progress-circle__path{stroke:#5C23F6;}
.datapic .el-progress__text{font-size: 16px!important;}
.datapicont .el-progress .el-progress-circle  svg path:first-child{stroke:rgba(255,255,255,0.1);}
.datapicont .el-progress-circle__path{stroke:#5C23F6;}
.datapicont .el-progress__text{font-size: 16px!important;}
.chselect .el-input--small .el-input__inner{background-color: #020C18;border-color: #204B7E; color: #999999;}
.chselect .el-select .el-input.is-focus .el-input__inner{background-color: #232D43;}
/* .chselect .el-input__inner{border-radius: 0;} */
.chselect .el-input--small{font-size: 15px;}
.chselect .el-input--small .el-input__icon{line-height: 32px!important;}
.chselect1 .el-input--mini .el-input__inner{background-color: #020C18;border-color: #204B7E; color: #999999;}
.chselect1 .el-input--mini{font-size: 15px;}
.sreen .casebg{
   background: url('../../assets/img/screen/casebg.png') no-repeat;
  
}
.sreen .new-list{
    height: 160px;
    margin: 10px auto;
    overflow: hidden;
    transition: all 0.5s;
    line-height: 20px;
}
.sreen ul li{list-style: none;}
.sreen .new-list ul li{
  width: 100%;

}

.sreen .new-list .el-progress-bar{
   width: 150px!important;
}
.sreen .new-list .el-progress-bar__outer{
   background-color: RGB(255,255,255,0.2)!important;
}
.sreen .fontcolor{color: #ffffff;}
.sreen .fontcolor:hover{color: red;}
.anim{
   transition: all 0.5s;
   margin-top: -28px;
}
.dialogmain{width: 100%; height: 100%; text-align: left;color: #3477E0;}
.dialogmain .title{color: #ffffff; font-size: 18px;}
.dialogmain .yyjyborder{border-radius: 5px; border: 1px solid #144276;padding: 20px;}
.dialogmain .pinput{ background: #0C2B57; line-height: 35px; padding-left: 10px;color: #eeeeee;}
.dialogmain .el-table{
background: none!important;position: inherit!important;border-bottom: 1px solid #133968;
}

.dialogmain .el-table th{background: #0E376D!important;font-size: 14px!important;
      color: #ffffff;font-weight: bold;white-space:nowrap}
 
.dialogmain .el-table td{color: #4D7FC6; background:#081327;}
.dialogmain .el-table .el-table__body tr:hover>td{
   background-color: #0A223C!important;
 }

 /* .el-table__body tr.current-row>td{
   background-color: #0A223C!important;
 } */

.dialogmain .el-table td, .el-table th.is-leaf {
   border: none;
   text-align: center;
 }
/* 遮罩层 */
.popContainer {
   position: fixed;
   top: 10%;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.4);
 }
 .popContainer .content{
    width: 1000px;
    height: 85%;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #1F78D4;
    background: rgba(5,12,28, 0.9);
    box-shadow: 0 0 20px #1F78D4;
 }
 .popContainer .close {
  margin-top: -70px;text-align: right;margin-right: -95px; cursor: pointer;
 }

.sugg{text-align:right}
.sugg .el-button--mini, .el-button--mini.is-round{
    padding: 5px 20px!important;
    background: #0E2C6A;
    color: #4C85D4;
    border: 1px solid #528FE0;
}
.sugg .color{
  color: #ffffff;
}
 .yamargin1{
  margin:9% 10% 0 10%
}
 .yamargin2{
  margin:0 10% 0 10%;
  background-color: rgba(63,95,154,0.1);
}

 

